!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Testing
    %link{:rel => "stylesheet", :href => "assets/css/style.css"}
    %script{:src => "js/vendor/modernizr-2.6.2.min.js"}

  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    .mainContainer
      %header
        .wrapper.clearfix
          .logo.left
          .text.left
            .title 
              %span.bold Entrep 
              %span Corner
            .subTitle St. Paul University Quezon City

      .homePage#page
        .wrapper
          %section.darkContainer.clearfix
            .sideBar.left
              .menu
                %a{:href => "#"}
                  .item
                    .icon-home 
                    .itemText Home
                %a{:href => "#"}
                  .item 
                    .icon-about 
                    .itemText About Us
                %a{:href => "#"}
                  .item 
                    .icon-product 
                    .itemText Product
                %a{:href => "#"}
                  .item 
                    .icon-contact 
                    .itemText Contact Us
            .mainContent.left
              .topContent
                .topBox
                  .image
                    %img{:src => "assets/img/topContent-image.jpg"}
                  .info
                    .title Unicef taps online shopping to auction off limited-edition artworks
                    .description Apple readying two iPhone versions for launch. Comcast broadband enrollment for low-income US families enters 3rd year. Facebook to test mobile payments service. Samsung to unveil ‘smartwatch’ next month. Unicef taps online shopping to auction off limited-edition artworks.<br><br>Samsung to unveil ‘smartwatch’ next month. Unicef taps online shopping to auction off limited-edition artworks.
              .bottomContent
                .row-fluid
                  .span6.news
                    .title
                      .icon-newsEvents News
                    .list
                      .item Apple readying two iPhone versions for launch
                      .item Comcast broadband enrollment for low-income US families enters 3rd year
                      .item Facebook to test mobile payments service
                      .item Samsung to unveil ‘smartwatch’ next month
                      .item Unicef taps online shopping to auction off limited-edition artworks
                  .span6.events
                    .title
                      .icon-newsEvents Events
                    .list
                      .item Apple readying two iPhone versions for launch
                      .item Comcast broadband enrollment for low-income US families enters 3rd year
                      .item Facebook to test mobile payments service
                      .item Samsung to unveil ‘smartwatch’ next month
                      .item Unicef taps online shopping to auction off limited-edition artworks

  %footer
    .wrapper.footerText.clearfix
      .left.copyRight
        %span Copyright 2013 
        %span.siteName Entrep Corner
      .right.menu
        %a.bottomLink{:href => "#"} Home
        %a.bottomLink{:href => "#"} About Us
        %a.bottomLink{:href => "#"} Product
        %a.bottomLink{:href => "#"} Contact Us





    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
    %script{:src => "assets/js/plugins.js"}
    %script{:src => "assets/js/main.js"}

    :javascript
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UX-ACCOUNT']);
        _gaq.push(['_setDomainName', 'DOMAIN.COM']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();