@import url(normalize.css);
@import url(grid.css);
@import url(fonts.css);
.homePage#page .mainContent .topContent .topBox {
  position: relative;
  height: 500px;
  overflow: hidden; }
  .homePage#page .mainContent .topContent .topBox .image {
    height: 100%;
    width: 100%;
    background: #eeeeee; }
    .homePage#page .mainContent .topContent .topBox .image img {
      height: 100%;
      -moz-box-shadow: 0 0 10px red inset, transparent 0 0 0, transparent 0 0 0;
      -webkit-box-shadow: 0 0 10px red inset, transparent 0 0 0, transparent 0 0 0;
      box-shadow: 0 0 10px red inset, transparent 0 0 0, transparent 0 0 0; }
  .homePage#page .mainContent .topContent .topBox .info {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
    padding: 30px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    background-color: #102c36;
    background-color: rgba(16, 44, 54, 0.9);
    -moz-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3), transparent 0 0 0, transparent 0 0 0;
    -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3), transparent 0 0 0, transparent 0 0 0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3), transparent 0 0 0, transparent 0 0 0;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .homePage#page .mainContent .topContent .topBox .info:hover {
      background-color: #102c36;
      background-color: rgba(16, 44, 54, 0.95);
      -moz-transition: all 0.4s linear;
      -o-transition: all 0.4s linear;
      -ms-transition: all 0.4s linear;
      -webkit-transition: all 0.4s linear;
      transition: all 0.4s linear; }
    .homePage#page .mainContent .topContent .topBox .info .title {
      font-size: 17px;
      font-weight: 700;
      position: relative;
      margin-bottom: 20px; }
    .homePage#page .mainContent .topContent .topBox .info .description {
      color: rgba(255, 255, 255, 0.8);
      line-height: 20px; }
.homePage#page .mainContent .bottomContent {
  padding: 40px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5); }
  .homePage#page .mainContent .bottomContent .title {
    font-size: 15px;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px; }
  .homePage#page .mainContent .bottomContent .list .item {
    color: #008a7a;
    padding: 7px 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .homePage#page .mainContent .bottomContent .list .item:nth-child(odd) {
      background-color: black;
      background-color: rgba(0, 0, 0, 0.05); }
    .homePage#page .mainContent .bottomContent .list .item:hover {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
      background-color: #11a392;
      background-color: rgba(17, 163, 146, 0.8);
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
