@import "normalize.css"
@import "mixins"
@import "grid.css"
@import "fonts.css"
@import "pallette"

.homePage#page
	.mainContent
		padding: 0
		.topContent
			.topBox
				position: relative
				height: 500px
				overflow: hidden
				.image
					height: 100%
					width: 100%
					background: #eee
					img
						height: 100%
						@include shadow(0 0 10px red inset)
				.info
					position: absolute
					top: 0
					right: 0
					height: 100%
					width: 280px
					padding: 30px
					color: #fff
					text-shadow: 0 -1px 0 rgba(#000, 0.5)
					@include rgba-bg(#102C36, 0.9)
					@include shadow(-2px 0 4px rgba(#000, 0.3))
					@include transition(all 0.2s linear)
					&:hover
						@include rgba-bg(#102C36, 0.95)
						@include transition(all 0.4s linear)
					.title
						font-size: 17px
						font-weight: 700
						position: relative
						margin-bottom: 20px
					.description
						color: rgba(#fff, 0.8)
						line-height: 20px
						margin-bottom: 20px
						max-height: 310px
						overflow-y: hidden
					.readMore
						color: $green
		.bottomContent
			padding: 40px 30px
			border-top: 1px solid rgba(#000, 0.1)
			text-shadow: 0 -1px 0 rgba(#fff, 0.5)
			.title
				font-size: 15px
				font-weight: 700
				position: relative
				margin-bottom: 20px
			.list
				.item
					color: #008A7A
					padding: 7px 12px
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis
					cursor: pointer
					@include transition(all 0.2s linear)
					&:nth-child(odd)
						@include rgba-bg(#000, 0.05)
					&:hover
						color: #fff
						text-shadow: 0 -1px 0 rgba(#000, 0.1)
						@include rgba-bg($green, 0.8)
						@include transition(all 0.2s linear)


