@import "normalize.css"
@import "mixins"
@import "grid.css"
@import "fonts.css"
@import "pallette"
@import "home.css"

*
	text-rendering: optimizeLegibility !important
	-webkit-font-smoothing: antialiased !important
	@include box-sizing(border-box)
	&::selection
		background: $green
		color: #fff
		text-shadow: none

html, body
	min-width: 960px
	height: 100%

.mainContainer
	min-height: 100%
	background: #eee
	&:after
		content: ""
		overflow: auto
		padding-bottom: 100px
		display: block

header
	background: $green
	width: 100%
	padding: 20px 0
	@include shadow(0 2px 2px rgba(#000, 0.1))
	.logo
		height: 50px
		width: 50px
		margin-right: 10px
		@include rgba-bg(#000, 0.3)
	.text
		color: #fff
		text-shadow: 0 -1px 0 rgba(#000, 0.2)
		.title
			text-transform: uppercase
			font-size: 22px
			font-style: italic
			.bold
				font-weight: 700
				font-style: normal
		.subTitle
			color: $lightyellow

.sideBar
	background: $darkblue
	width: 12%
	.menu
		a, a:hover
			color: rgba(#fff, 0.9)
			text-decoration: none
			.item
				font-size: 10px
				text-shadow: 0 -1px 0 rgba(#000, 0.5)
				text-transform: uppercase
				padding: 20px 10px
				border-bottom: 1px solid rgba(#000, 0.15)
				text-align: center
				position: relative
				max-height: 85px
				min-height: 85px
				@include transition(all 0.2s linear)
				&:hover
					border-bottom: 1px solid transparent
					@include rgba-bg(#000, 0.15)
					@include transition(all 0.4s linear)
				.itemText
					margin-top: 30px
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis

footer
	position: relative
	background: $darkblue
	width: 100%
	height: 50px
	margin-top: -50px
	clear: both
	line-height: 50px
	color: rgba(#fff, 0.7)
	font-size: 12px
	text-shadow: 0 -1px 0 rgba(#000, 0.7)
	.siteName
		font-weight: 700
	.bottomLink
		margin-left: 10px

body
	color: #222
	font-family: "Lato", sans-serif
	font-size: 13px
	font-weight: 400

.darkContainer
	background: #1E3E46
	overflow: hidden
	@include shadow(0 2px 2px rgba(#000, 0.04))
	@include border-radius(3px)

.mainContent
	width: 88%
	background: #fafafa
	z-index: 999
	min-height: 340px
	@include shadow(-2px 0 4px rgba(#000, 0.3))

section
	margin-top: 50px

.right
	float: right

.left 
	float: left

a
	color: #fff
	text-decoration: none
	&:hover
		color: $green
		text-decoration: underline

input, input:hover, input:focus
	outline: 0

.wrapper
	max-width: 960px
	min-width: 960px
	margin: 0 auto
	padding: 0 30px
	position: relative

.btn, .btn:hover
	color: #fff
	font-weight: 700
	padding: 10px
	display: inline-block
	vertical-align: top
	text-decoration: none
	border: 0 none
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3)
	border: 1px solid #629d98
	line-height: 1em
	@include shadow(inset 0 1px 0 rgba(#fff, 0.3), 0 2px 5px rgba(#000, 0.15))
	@include gradient(transparent, rgba(#000, 0.08), red)

img
	-moz-user-select: none
	-webkit-user-select: none
	user-select: none
	-webkit-user-drag: none

[class*="icon-"]
	&:before
		content: ""
		display: inline-block
		position: absolute
		left: 50%
		@include opacity(0.2)
	&[class*="home"]:before
		background: url(../img/sprite.png) 0 0 transparent
		height: 22px
		width: 22px
		margin-left: -11px
	&[class*="about"]:before
		background: url(../img/sprite.png) -22px 0 transparent
		height: 22px
		width: 24px
		margin-left: -12px
	&[class*="product"]:before
		background: url(../img/sprite.png) -46px 0 transparent
		height: 20px
		width: 26px
		margin-left: -13px
	&[class*="contact"]:before
		background: url(../img/sprite.png) -72px 0 transparent
		height: 16px
		width: 24px
		margin-left: -12px
	&[class*="newsEvents"]:before
		position: static
		background: url(../img/sprite.png) -96px 0 transparent
		height: 23px
		width: 28px
		margin-right: 8px
		margin-bottom: -5px
